<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Товары</title>
    </head>
    <body>
        {% extends 'enterprise/pat.html' %}
        {% block b1 %}Товары{% endblock %}
        {% block b2 %}
        {% include 'enterprise/common.html' %}
                <div class="features">
                    <h1>Товары Enterprise</h1>
                    <div class="category">
                        {% for category in categories %}
                            <h4>{{ category.name_category }}</h4>
                            {% for product in category.products_set.all %}
                            <ul>
                                <li> <img src="{{ product.image.url }}" class="product-image">
                                    <b>{{ product.name_product }} {{ product.price }} руб.</b>
                                    {% if user.is_authenticated and user.username == 'bigudimamy'%}
                                        <a href="{% url 'delete' product.pk %}"><li><button type="button" class="btn btn-outline-dark">Delete</button></li></a>
                                    {% endif %}
                                </li>
                                <li>{{ product.description }} {{ product.quantity }} штук</li>
                            </ul>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
        {% endblock %}
    </body>
</html>

