{% extends 'enterprise/pat.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        {% block b1 %}Авторизация{% endblock %}
        {% block b2 %}
        <div class="features">
            <h1>Login Form</h1>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <p>Username</p>
                {{ form.username }} <br>
                <p>Password</p>
                {{ form.password }} <br>
                <input type="submit" value="Login" class="btn btn-outline-dark">
            </form>
        </div>
        {% endblock %}
    </body>
</html>